@page
@model WebApplication2.Pages.createModel
@{
	
}

<form method = "post">
	<input type = "text" asp-for ="@Model.u.Fname" placeholder = "first name">
	<input type = "text" asp-for ="@Model.u.Lname" placeholder = "Second name">
	<input type = "text" asp-for ="@Model.u.Email" placeholder = "Email">

	<br>

	<input type ="radio"  asp-for ="@Model.u.Gender" value = "Male">
	<label>Male</label>

	<input type ="radio"  asp-for ="@Model.u.Gender" value = "Female">
	<label>Female</label>

	<button class="btn btn-primary" type ="submit"> Add new user </button>



</form>